<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>


<table>
  <thead>
    <td>Course Name</td>
    <td>Duration (Weeks)</td>
  </thead>

  <tbody>
  <% @course.each do |course| %>
  <tr>
    <td><p><%= course.name %></p></td><td><p><%= course.duration %></p></td>
  </tr>
  <% end %>
  </tbody>
</table>



<%= link_to "Create New Course" , new_course_path %>
<p>
<%= link_to "Groups" , groups_index_path %>
<%= link_to "Syllabi" , syllabi_index_path %>
</p>
