<h1>Courses</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<%= form_for @course, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :duration %>
    <%= f.text_field :duration %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead class="mdl-data-table__cell--non-numeric">
    <td>Course Name</td>
    <td>Duration (Weeks)</td>
    <td>Remove</td>

  </thead>

  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><%= course.name %></td><td><%= course.duration %></td><td> <%= link_to "Delete" , course_path(course) , method: :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>
