<h1>Lessons#new</h1>
<p>Find me in app/views/lessons/new.html.erb</p>

<%= form_for @lesson, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :syllabus%><br>
    <%= f.collection_select :syllabus, Syllabus.all, :id, :title, prompt: true %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
