<h1>Syllabi</h1>

<p>Create New Syllabus</p>

<%= form_for @syllabus, url: syllabi_index_path, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to "Create New Lesson" , new_lesson_path %>

<table class="mdl-data-table mdl-js-data-table">
  <thead class="mdl-data-table__cell--non-numeric">
    <th>Title:</th><th>Duration:</th><th>Lessons</th>
  </thead>

  <tbody>


    <% @syllabi.each do |syllabus| %>

  <tr>
    <td class="mdl-data-table__cell--non-numeric"><%= syllabus.title %></td><td class="mdl-data-table__cell--non-numeric"><%= syllabus.duration %></td>
    <td class="mdl-data-table__cell--non-numeric">
    <% syllabus.lessons.each do |lesson| %>
    <p><%= lesson.title %></p>
    <% end %>
    </td>
 </tr>
<% end %>
  </tbody>
</table>
