<!DOCTYPE html>
<html>
  <head>
    <title>CoursePortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Courses" , courses_index_path %>
      <%= link_to "Groups" , groups_index_path %>
      <%= link_to "Syllabi" , syllabi_index_path %>
    </nav>
    <%= yield %>
  </body>
</html>
