<h1>Groups</h1>
<p>Find me in app/views/groups/index.html.erb</p>


<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <td>Group Name</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Size</td>
    <td>Course</td>
    <td>Lessons</td>
  </thead>

  <tbody>
  <% @group.each do |group1| %>
  <tr>
    <td><p><%= group1.name %></p></td>
    <td><p><%= group1.start_date %></p></td>
    <td><p><%= group1.end_date %></p></td>
    <td><p><%= group1.size %></p></td>
    <td><p><%= group1.course.name %></p></td>
    <td><p><%= link_to "View / New", edit_group_path(group1) %></p></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Create New Group" , new_group_path %>
