<h1>Groups</h1>

<h2>Create New Group</h2>

<%= form_for @group, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :size%>
    <%= f.number_field :size%>
  </p>

  <p>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>

    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </p>


  <p>
    <%= f.label :course%>
    <%= f.collection_select :course, Course.all, :id, :name, prompt: true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Groups List</h2>

<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <td>Group Name</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Size</td>
    <td>Course</td>
    <td>Lessons</td>
  </thead>

  <tbody>
  <% @groups.each do |group1| %>
  <tr>
    <td><p><%= group1.name %></p></td>
    <td><p><%= group1.start_date %></p></td>
    <td><p><%= group1.end_date %></p></td>
    <td><p><%= group1.size %></p></td>
    <td><p><%= group1.course.name %></p></td>
    <td><p><%= link_to "View / New", edit_group_path(group1) %></p></td>
  </tr>
  <% end %>
  </tbody>
</table>
