<%= form_for @course, html: {multipart: true } do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
    <textarea name="name" rows="8" cols="80">
      <script>
        var simplemde = new SimpleMDE();
      </script>
    </textarea>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
